name: citizenwallet
version: 1.0.8+1
publish_to: none
description: A new Flutter project.
environment:
  sdk: ">=2.19.6 <3.0.0"
dependencies:
  cupertino_icons: ^1.0.2
  go_router: ^6.5.6
  provider: ^6.0.5
  flutter_dotenv: ^5.0.2
  shared_preferences: ^2.1.0
  sqflite: ^2.2.6
  path: ^1.8.2
  flutter_svg: ^2.0.4
  intl: ^0.18.0
  web3dart: ^2.6.1
  http: ^0.13.5
  flutter_secure_storage: ^8.0.0
  convert: ^3.1.1
  flutter:
    sdk: flutter
  lottie: ^2.3.2
  mobile_scanner: ^3.2.0
  crypto: ^3.0.2
  encrypt: ^5.0.1
  pointycastle: ^3.7.3
  pretty_qr_code: ^2.0.3
  archive: ^3.3.7
  sqflite_common_ffi_web: ^0.3.5
  rate_limiter: ^1.0.0
dev_dependencies:
  flutter_lints: ^2.0.0
  flutter_test:
    sdk: flutter
flutter:
  assets:
    - .env
    - assets/wallet.svg
    - assets/icons/wallet_simple.svg
    - assets/icons/app.svg
    - assets/icons/coin.svg
    - assets/icons/profile.svg
    - assets/icons/anonymous_user.svg
    - assets/icons/bar_icon.svg
    - assets/icons/citizenbank.svg
    - assets/data/native_chains.json
    - assets/data/chains.json
    - assets/lottie/success.json
    - assets/lottie/app.json
    - assets/lottie/wallet_loader.json
    - assets/lottie/wallet_receive.json
    - assets/lottie/qr_scan_success.json
    - assets/lottie/piggie_bank.json
  uses-material-design: false
