name: citizenwallet
version: 1.0.66+213
publish_to: none
description: A mobile wallet for your community.
environment:
  sdk: ">=3.0.0 <4.0.0"
dependencies:
  smartcontracts:
    git:
      url: https://github.com/citizenwallet/smartcontracts.git
      ref: v0.0.106
  contractforge:
    git:
      url: https://github.com/citizenwallet/contractforge.git
      ref: v0.0.6 # You can also specify a specific commit or branch if needed
  cupertino_icons: ^1.0.2
  go_router: ^14.0.2
  provider: ^6.0.5
  flutter_dotenv: ^5.0.2
  shared_preferences: ^2.1.0
  sqflite: ^2.3.0
  path: ^1.8.2
  flutter_svg: ^2.0.4
  intl: any
  web3dart: ^2.7.1
  http: ^1.1.0
  flutter_secure_storage: ^9.0.0
  convert: ^3.1.1
  flutter:
    sdk: flutter
  lottie: ^3.0.0
  mobile_scanner: ^5.2.1
  crypto: ^3.0.2
  encrypt: ^5.0.1
  pointycastle: ^3.7.3
  archive: ^3.3.7
  sqflite_common_ffi_web: ^0.4.0
  rate_limiter: ^1.0.0
  cryptography: ^2.5.0
  collection: ^1.17.0
  web_socket_channel: ^2.2.0
  stream_channel: ^2.1.1
  graphql: ^5.1.2
  hive: ^2.2.3
  url_launcher: ^6.1.11
  flutter_markdown: ^0.7.1
  package_info_plus: ^8.0.0
  rxdart: ^0.28.0
  simple_animations: ^5.0.2
  async: ^2.11.0
  modal_bottom_sheet: ^3.0.0-pre
  username_gen: ^1.0.4
  file_picker: ^8.0.1
  universal_io: ^2.2.2
  share_plus: ^10.0.0
  sqflite_common: ^2.5.0
  image: ^4.0.17
  qr_flutter: ^4.1.0
  cached_network_image: ^3.2.3
  universal_html: ^2.2.4
  audio_in_app: ^2.0.0
  firebase_messaging: ^14.9.4
  firebase_core: ^2.32.0
  zikzak_inappwebview: ^1.0.3
  credential_manager: ^1.0.1
  googleapis: ^13.1.0
  path_provider: ^2.1.2
  icloud_storage: ^2.2.0
  google_sign_in: ^6.2.1
  extension_google_sign_in_as_googleapis_auth: ^2.0.12
  flutter_localizations:
    sdk: flutter
  timeago: ^3.6.1
  nfc_manager: ^3.5.0
dev_dependencies:
  flutter_launcher_icons: ^0.13.1
  flutter_lints: ^4.0.0
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.0
  nock: ^1.2.2
dependency_overrides:
  js: ^0.7.1
flutter:
  assets:
    - .env
    - .web.env
    - assets/logo_small.png
    - assets/logo_rounded.png
    - assets/logo.png
    - assets/logo.svg
    - assets/citizenwallet-only-logo.svg
    - assets/about/about.md
    - assets/audio/tx_notification.wav
    - assets/icons/citizenwallet-qrcode.svg
    - assets/images/community_background.png
    - assets/images/app-store-badge.svg
    - assets/images/google-play-badge.png
    - assets/icons/dark-mode.svg
    - assets/icons/sound.svg
    - assets/icons/docs.svg
    - assets/icons/website.svg
    - assets/icons/users.svg
    - assets/icons/coin.svg
    - assets/icons/share.svg
    - assets/icons/contacts.svg
    - assets/icons/profile.svg
    - assets/icons/notification_bell.svg
    - assets/icons/profile.png
    - assets/icons/profile.jpg
    - assets/icons/voucher.svg
    - assets/icons/voucher.png
    - assets/icons/community.svg
    - assets/icons/key.svg
    - assets/icons/drive.svg
    - assets/icons/cloud-empty.svg
    - assets/icons/cloud-found.svg
    - assets/icons/icloud.svg
    - assets/icons/faucet.svg
    - assets/icons/missing.svg
    - assets/icons/wallet.png
    - assets/icons/bookmark.svg
    - assets/icons/bookmark_color.svg
    - assets/icons/backup-file.svg
    - assets/icons/wave.svg
    - assets/icons/anonymous_user.svg
    - assets/icons/bar_icon.svg
    - assets/icons/citizenbank.svg
    - assets/icons/language-svgrepo-com.svg
    - assets/icons/contactless.svg
    - assets/icons/switch_accounts.svg
    - assets/config/v3/communities.json
    - assets/config/v3/communities.test.json
    - assets/config/v3/legacy_4337_bundlers.json
    - assets/config/v3/debug.json
    - assets/lottie/chat.json
    - assets/lottie/gift-voucher.json
    - assets/lottie/success.json
    - assets/lottie/app.json
    - assets/lottie/wallet_loader.json
    - assets/lottie/wallet_receive.json
    - assets/lottie/qr_scan_success.json
    - assets/lottie/piggie_bank.json
    - packages/smartcontracts/contracts/accounts/Account.abi.json
    - packages/smartcontracts/contracts/accounts/AccountFactory.abi.json
    - packages/smartcontracts/contracts/external/DERC20.abi.json
    - packages/smartcontracts/contracts/accounts/Account.abi.json
    - packages/smartcontracts/contracts/external/SimpleAccountFactory.abi.json
    - packages/smartcontracts/contracts/accounts/TokenEntryPoint.abi.json
    - packages/smartcontracts/contracts/standards/IAccessControlUpgradeable.abi.json
    - packages/smartcontracts/contracts/apps/SimpleFaucet.abi.json
    - packages/smartcontracts/contracts/standards/ERC20.abi.json
    - packages/smartcontracts/contracts/apps/Profile.abi.json
    - packages/smartcontracts/contracts/external/CardFactory.abi.json
    - packages/contractforge/abi/CardManagerModule.json

  uses-material-design: false
  generate: true

# flutter pub run flutter_launcher_icons
flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/logo.jpg"
  min_sdk_android: 21 # android min sdk min:16, default 21
  web:
    generate: true
    image_path: "assets/logo.png"
    background_color: "#ffffff"
    theme_color: "#563087"
  windows:
    generate: true
    image_path: "assets/logo.jpg"
    icon_size: 48 # min:48, max:256, default: 48
  macos:
    generate: true
    image_path: "assets/logo_macOS.png"

sentry:
  upload_debug_symbols: true
  upload_source_maps: true
  upload_sources: false
  project: app
  org: citizen-wallet
  url: https://sentry.io
