name: citizenwallet
version: 1.0.17+5
publish_to: none
description: Receive and send ERC20 without gas fees.
environment:
  sdk: ">=3.0.0 <4.0.0"
dependencies:
  smartcontracts:
    git:
      url: https://github.com/daobrussels/smartcontracts.git
      ref: v0.0.49
  cupertino_icons: ^1.0.2
  go_router: ^9.0.0
  provider: ^6.0.5
  flutter_dotenv: ^5.0.2
  shared_preferences: ^2.1.0
  sqflite: ^2.2.6
  path: ^1.8.2
  flutter_svg: ^2.0.4
  intl: ^0.18.0
  web3dart: ^2.6.1
  http: ^0.13.5
  flutter_secure_storage: ^8.0.0
  convert: ^3.1.1
  flutter:
    sdk: flutter
  lottie: ^2.3.2
  mobile_scanner: ^3.3.0
  crypto: ^3.0.2
  encrypt: ^5.0.1
  pointycastle: ^3.7.3
  pretty_qr_code: ^2.0.3
  archive: ^3.3.7
  sqflite_common_ffi_web: ^0.3.5
  rate_limiter: ^1.0.0
  cryptography: ^2.5.0
  cryptography_flutter: ^2.3.0
  collection: ^1.17.0
  dartsv: ^1.0.1
  web_socket_channel: ^2.2.0
  stream_channel: ^2.1.1
  graphql: ^5.1.2
  hive: ^2.2.3
  url_launcher: ^6.1.11
  flutter_markdown: ^0.6.15
  package_info_plus: ^4.0.2
  rxdart: ^0.27.7
  sentry_flutter: ^7.8.0
  simple_animations: ^5.0.2
  async: ^2.11.0
  modal_bottom_sheet: ^3.0.0-pre
  username_gen: ^1.0.4
  file_picker: ^5.3.3
dev_dependencies:
  flutter_launcher_icons: ^0.13.1
  flutter_lints: ^2.0.0
  flutter_test:
    sdk: flutter
  sentry_dart_plugin: ^1.4.0
flutter:
  assets:
    - .env
    - assets/about/about.md
    - assets/wallet.svg
    - assets/icons/empty_pockets.svg
    - assets/icons/empty_roll.svg
    - assets/images/citizenwallet-qrcode.svg
    - assets/icons/wallet_simple.svg
    - assets/icons/app.svg
    - assets/icons/dark-mode.svg
    - assets/icons/docs.svg
    - assets/icons/website.svg
    - assets/icons/cloud-settings.svg
    - assets/icons/users.svg
    - assets/icons/coin.svg
    - assets/icons/profile.svg
    - assets/icons/anonymous_user.svg
    - assets/icons/bar_icon.svg
    - assets/icons/citizenbank.svg
    - assets/data/native_chains.json
    - assets/data/chains.json
    - assets/lottie/chat.json
    - assets/lottie/success.json
    - assets/lottie/app.json
    - assets/lottie/wallet_loader.json
    - assets/lottie/wallet_receive.json
    - assets/lottie/qr_scan_success.json
    - assets/lottie/piggie_bank.json
    - packages/smartcontracts/contracts/external/DERC20.abi.json
    - packages/smartcontracts/contracts/external/SimpleAccount.abi.json
    - packages/smartcontracts/contracts/external/SimpleAccountFactory.abi.json
    - packages/smartcontracts/contracts/external/EntryPoint.abi.json
    - packages/smartcontracts/contracts/standards/ERC20.abi.json
    - packages/smartcontracts/contracts/apps/Profile.abi.json
  uses-material-design: false

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/logo.jpg"
  min_sdk_android: 21 # android min sdk min:16, default 21
  web:
    generate: true
    image_path: "assets/logo.jpg"
    background_color: "#ffffff"
    theme_color: "#c8ff94"
  windows:
    generate: true
    image_path: "assets/logo.jpg"
    icon_size: 48 # min:48, max:256, default: 48
  macos:
    generate: true
    image_path: "assets/logo.jpg"

sentry:
  upload_debug_symbols: true
  upload_source_maps: true
  upload_sources: false
  project: app
  org: citizen-wallet
  url: https://sentry.io
