# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content

on:
  push:
    tags: ["[0-9]+.[0-9]+.[0-9]+"]
  workflow_dispatch:

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "web-deploy"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    runs-on: ubuntu-latest
    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Copy env file
        run: echo "${{ secrets.WEB_MAIN_ENV }}" >> .env

      - run: echo "${{ secrets.WEB_MAIN_ENV }}" >> .web.env

      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: Disable Analytics
        run: flutter --disable-analytics

      - run: flutter pub get
      - run: flutter test
      - run: flutter build web --source-maps --web-renderer canvaskit

      - name: Create web config.json files
        run: dart scripts/create_web_configs.dart

      - name: Upload source maps to Sentry
        run: flutter packages pub run sentry_dart_plugin

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1

      - name: Update S3 bucket
        run: aws s3 sync ./build/web s3://cw-wallet --delete

      - name: Update S3 Configs bucket
        run: aws s3 sync ./temp/web_configs s3://cw-wallet-configs/wallet-config/v3

      - name: Invalidate CloudFront cache
        run: aws cloudfront create-invalidation --distribution-id E3HSZG6HHL54A0 --paths '/*'

      - name: Invalidate Config CloudFront cache
        run: aws cloudfront create-invalidation --distribution-id E2ML9Z329DNKZ5 --paths '/*'

      - name: Invalidate OAK CloudFront cache
        run: aws cloudfront create-invalidation --distribution-id E3R7VPAU53LVEL --paths '/*'

      - name: Invalidate SFLUV CloudFront cache
        run: aws cloudfront create-invalidation --distribution-id ENU7L1O7FMI0 --paths '/*'

      - name: Invalidate RGN CloudFront cache
        run: aws cloudfront create-invalidation --distribution-id EBQVPCGCDONRY --paths '/*'

      - name: Invalidate SBC CloudFront cache
        run: aws cloudfront create-invalidation --distribution-id E2IIM5EGYSV30P --paths '/*'

      - name: Notify of successful web deploy
        run: |
          fullVersion=$(echo | grep -i -e "version: " pubspec.yaml)
          buildName=$(echo $fullVersion | cut -d " " -f 2 | cut -d "+" -f 1)
          buildNumber=$(echo $fullVersion | cut -d "+" -f 2 )
          curl --location '${{ secrets.DISCORD_WEBHOOK_URL }}' \
          --header 'Content-Type: application/json' \
          --data '{
              "content": "updated to version '$buildName'+'$buildNumber'"
          }'
